* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.ui-ball-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}